<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="833c7b06-a8c0-4491-821c-9a750f6bcbb6" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://www.test-insurance.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="833c7b06-a8c0-4491-821c-9a750f6bcbb6fileName">https%3A%2F%2Fwww.test-insurance.com</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://www.test-insurance.com</con:endpoint></con:endpoints></con:interface>